header {
    background-color:rgb(12, 194, 185);
    color:white;
    text-align: center;
    font-size: 6em;
    font-family: "Romanesco", cursive;
}

.container{
    color:white 
 }

.nav-link {
    font-size:4em;
}
.col-1{
    background-color: rgb(15, 15, 241);
    align-self: flex-start;
}

h1 {
    font-size: 20px;
}

 p{
    font-size: 14px;
 } 
 
 footer {
    background-color:rgb(148, 155, 154);
    text-align: center;
    font-size: 3em;
    font-family:"Romanesco", cursive;
} 
/* cible écran de largeur min 768px  */
  @media screen and (min-width:768px) {
    header, footer {
        font-size: 12em;
            }
    p{ 
        font-size: 18px;
    }
    h1{
        font-size:24px; 
     } 
     .nav-link {
        font-size:8em;
    }
    .img{
        width:2048;
        height:1366
    }
 }  

