header {
    background-color:rgb(12, 194, 185);
    color:white;
    text-align: center;
    font-size: 10em;
    font-family: "Romanesco", cursive;
}


footer {
    background-color:rgb(148, 155, 154);
    text-align: center;
    font-size: 1em;
    font-family:'Times New Roman', Times, serif
} 
/* .container{
    background-color: rgb(148, 155, 154);
    
    color:white */
